# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/

# Python
__pycache__/
*.pyc
venv/

# databases
*.db

# vector databases
hr_vectordb/
employee_vectordb/

# env
.env
.env.local

# logs
*.log